@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Cardo");
/* Google Fonts用のCSSを読み込み */
html {
  font-size: 62.5%; }

body {
  color: #263959;
  font-family: Georgia, "Hiragino Mincho ProN", "Yu Mincho", serif;
  font-size: 1.4rem;
  line-height: 1.6;
  letter-spacing: 0.1em;
  background-color: #f4f5f9; }

a {
  color: #263959;
  text-decoration: none; }
  a:visited {
    color: #ed111f; }
  a:hover {
    color: #f1404b; }
  a:active {
    color: #f35861; }
  a:hover {
    text-decoration: underline; }

/* Align
------------------------------------------------------------*/
.text-center {
  text-align: center; }

/* Layout
------------------------------------------------------------*/
.block-center, section .container, #skills i {
  display: block;
  margin-left: auto;
  margin-right: auto; }

/* Font
------------------------------------------------------------*/
.abel, section h2, #skills h3, #works .works-box a .works-box-inner .button-readmore {
  font-family: 'Cardo', serif; }

.uppercase, section h2, #skills h3, #works .works-box a .works-box-inner .button-readmore {
  text-transform: uppercase; }

/* Header
------------------------------------------------------------*/
nav .button {
  width: 20px;
  height: 20px;
  padding: 10px;
  color: #263959;
  text-align: center;
  font-size: 25px;
  line-height: 0;
  display: block;
  float: right;
  margin: 20px 20px 0px 0; }
  nav .button:visited {
    color: #f1404b; }
  nav .button:hover {
    color: #f1404b; }

header .profile {
  clear: both;
  width: 60%;
  margin: 0 auto;
  text-align: center; }
header .site-title {
  font-size: 1.8rem;
  line-height: normal; }
  header .site-title span {
    display: block;
    font-size: 4.2rem;
    color: #f1404b; }
header .profile-icon {
  margin: 20px auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%; }
header p {
  font-size: 1.6rem; }

@media (min-width: 1025px) {
  a:hover {
    text-decoration: underline; }

  .button-contact {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 2px solid #263959;
    color: #263959; }
    .button-contact:hover, .button-contact:active {
      color: #f1404b; } }
/* Contents
------------------------------------------------------------*/
section {
  padding: 60px 0; }
  section .container {
    width: 90%; }
  section h2 {
    font-size: 3.2rem; }

#skills {
  margin-top: 50px;
  background-color: #f1404b; }
  #skills .container {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    -webkit-flex-direction: column;
    flex-direction: column; }
  #skills h2 {
    margin-bottom: 60px;
    color: #f4f5f9; }
  #skills .skill-box {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-flex: 1;
    flex: 1;
    margin: 10px 0;
    padding: 20px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: #f4f5f9; }
  #skills i {
    font-size: 4.5rem;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    margin-bottom: 5px;
    padding-top: 15px;
    text-align: center;
    color: #fontColor; }
  #skills h3 {
    font-size: 2.0rem;
    margin-bottom: 10px; }

@media (min-width: 1025px) {
  #skills .container {
    -webkit-flex-direction: row;
    flex-direction: row;
    justify-content: space-between; }
  #skills .skill-box {
    margin: 0 10px; } }
#works {
  padding-bottom: 0;
  color: #fontColor; }
  #works h2 {
    margin-bottom: 50px; }
  #works .works-box {
    float: left;
    width: 100%;
    height: 100%; }
    #works .works-box a {
      position: relative;
      display: block; }
      #works .works-box a .works-box-inner {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.7); }
        #works .works-box a .works-box-inner div {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          height: 40%;
          margin: auto;
          padding: 10px 20px; }
        #works .works-box a .works-box-inner h3 {
          font-size: 1.6rem;
          font-weight: bold;
          color: #f1404b;
          margin: 0 0 5px; }
        #works .works-box a .works-box-inner small {
          font-size: 1rem;
          color: #keyColor;
          display: block;
          margin-bottom: 15px; }
        #works .works-box a .works-box-inner .button-readmore {
          font-size: 1rem;
          font-weight: bold;
          display: block;
          width: 180px;
          margin: auto;
          padding: 5px 0;
          text-align: center;
          color: #f1404b;
          -moz-border-radius: 4px;
          -webkit-border-radius: 4px;
          border-radius: 4px;
          background-color: #f4f5f9; }
    #works .works-box img {
      max-width: 100%;
      display: block; }
  #works::after {
    content: '';
    display: block;
    clear: both; }

@media (min-width: 1025px) {
  #works .works-box {
    width: 33.33333%; }
    #works .works-box a .works-box-inner {
      display: none; }
      #works .works-box a .works-box-inner .button-readmore:hover {
        color: #263959; }
    #works .works-box a:hover .works-box-inner {
      display: block;
      width: 100%; } }
#contact ul {
  margin-top: 30px;
  text-align: center; }
  #contact ul li {
    font-size: 2.8rem;
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 20px;
    text-align: center;
    vertical-align: top; }
    #contact ul li:last-child {
      margin-right: 0; }
  #contact ul .mail, #contact ul .github, #contact ul .instagram, #contact ul .skype {
    font-size: 4.2rem; }
  #contact ul .github i {
    margin-left: 2px; }
  #contact ul a {
    display: block;
    color: #263959;
    width: 50px;
    height: 50px; }
    #contact ul a :hover {
      color: #f1404b; }

@media (min-width: 1025px) {
  〜〜
  #contact ul a:hover {
    color: #f1404b; } }
footer {
  font-weight: 300;
  font-size: 14px;
  color: #263959;
  margin: 30px 0;
  width: 100%;
  text-align: center;
  font-family: 'Cardo', serif; }

/*# sourceMappingURL=style.css.map */
